

body {background-color: #e5e8e8;
			}
			
			
			.header img {
			float: left;
			width: 54px;
			height: 54px;}
			
			h1 {
			color: white; 
			background-color: #34495e;
			text-align: center;
			padding: .5rem;
			}
			
			.box {
			color: white; 
			background-color: #34495e;
			width: 290px;
			box-sizing: border-box;
			padding: .1em;
			
			}
			
			.line {
				background-color: #34495e;
				height: 1px;
			}
			
